<h3>
	<a name='publications'></a> Selected Awards
</h3>
<p> 
    <div class='award'>
        <ul> 
	    <li>2017.06 <strong>1st place</strong> in object localization tracks in ILSVRC 2017</li>
	    <li>2017.06 <strong>2nd place</strong> in both Human Parsing and Pose Estimation tracks in 1st LIP challenge</li>
	    <li>2016.03 <strong>Hong Kong Ph.D Fellowship</strong></li>
	    <li>2015.01 <strong>Excellent Postgraduate</strong> of Tianjin University</li>
	    <li>2014.12 <strong>National Scholarship</strong> for Graduate Students</li>
	    <li>2013.06 <strong>Google Excellence Scholarship</strong></li>
	    <li>2013.06 <strong>Excellent Undergraduate</strong> of Tianjin University</li>
	    <li>2012.06 <strong>TEDA-Scope Scholarship</strong></li>
        </ul>
    </div>
</p>


