<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/panzhou.jpg" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'> 
			<h3>
				Pan Zhou &nbsp 周 攀
			</h3>
			<p>
			I am currently a Ph.D. candidate at National University of Singapore (NUS), fortunately advised by <a href="https://sites.google.com/site/jshfeng/">Dr. Jiashi Feng</a>
			and <a href="https://www.ece.nus.edu.sg/stfpage/eleyans/">Dr. Shuicheng
				Yan</a>. Before studying in NUS, I graduated from Peking University (PKU) in 2016 and during this period of time, I was fortunately directed by <a href="http://www.cis.pku.edu.cn/faculty/vision/zlin/zlin.htm">Dr. Zhouchen Lin</a> and <a href="http://www.cis.pku.edu.cn/faculty/vision/zhangchao/zhangchao.htm">Dr. Chao Zhang</a>. 
<!--			My research areas are noncovex/convex optimization, deep learning, compressed sensing, etc.
-->
			</p>&nbsp
			<p>
			</p>&nbsp
			<p>
			
			<h4>Research Topics</h4> Noncovex/convex optimization, deep learning, compressed sensing, etc.</p>
<!--
			<a href="mailto: panzhou3 AT gmail DOT com"><i class="fa fa-envelope"></i> &nbsp; panzhou3 AT gmail DOT com</a>
			
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
			<a href="https://scholar.google.com.sg/citations?hl=en&user=0b7ZqlcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; Google Scholar</a>
			-->
			{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %} 
			{% if site.website %}
				&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
                &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
				<a  href="https://scholar.google.com.sg/citations?hl=en&user=0b7ZqlcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website}}</a>
			{% endif %} 
			
	</div>
</div>