<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/xuecheng_photo.jpg" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'> 
			<h3>
				NIE Xuecheng &nbsp 聂学成
			</h3>
			<p>
			I am currently a Ph.D. candidate at <a href="https://www.ece.nus.edu.sg/lv/">Learning and Vision Lab</a>, Department of Electrical and Computer Engineering, National University of Singapore, 
			advised by Assistant Professor <a href="https://sites.google.com/site/jshfeng/">FENG Jiashi</a>
			and Assoociate Professor <a href="https://www.ece.nus.edu.sg/stfpage/eleyans/">YAN Shuicheng</a>. 
			I achieved both my bachelor and master degrees from Tianjin University under the supervision of Professor <a href="http://cs.tju.edu.cn/faculty/fengwei/index.html">FENG Wei</a>. 
			In summer 2014, I did as a research assistant at the City University of Hong Kong with Professor <a href="http://sweb.cityu.edu.hk/SM5308/ProfLiu/">LIU Zhiqiang</a>.
<!--			My research areas are noncovex/convex optimization, deep learning, compressed sensing, etc.
-->
			</p>&nbsp
			<p>
			</p>&nbsp
			<p>
			
			<h4>Research Topics</h4> Noncovex/convex optimization, deep learning, compressed sensing, etc.</p>
<!--
			<a href="mailto: panzhou3 AT gmail DOT com"><i class="fa fa-envelope"></i> &nbsp; panzhou3 AT gmail DOT com</a>
			
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
			<a href="https://scholar.google.com.sg/citations?hl=en&user=0b7ZqlcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; Google Scholar</a>
			-->
			{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %} 
			{% if site.website %}
				&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
                &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
				<a  href="https://scholar.google.com.sg/citations?hl=en&user=0b7ZqlcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website}}</a>
			{% endif %} 
			
	</div>
</div>
