<div class='row'>
    <div class='col-xs-3'>
	<div class='photo'>
            <img src="assets/images/xuecheng_photo.jpg" alt="photo"/>
	</div>
    </div>
    <div class='col-xs-9'> 
	<h3>
	    NIE Xuecheng &nbsp 聂学成
	</h3>
	<p>
	    I am currently a Ph.D. candidate at <a href="https://www.ece.nus.edu.sg/lv/">Learning and Vision Lab</a>, Department of Electrical and Computer Engineering, National University of Singapore, 
	    advised by Assistant Professor <a href="https://sites.google.com/site/jshfeng/">FENG Jiashi</a>
	    and Assoociate Professor <a href="https://www.ece.nus.edu.sg/stfpage/eleyans/">YAN Shuicheng</a>. 
	    I achieved both my bachelor and master degrees from Tianjin University under the supervision of Professor <a href="http://cs.tju.edu.cn/faculty/fengwei/index.html">FENG Wei</a>. 
	    In summer 2014, I did as a research assistant at the City University of Hong Kong with Professor <a href="http://sweb.cityu.edu.hk/SM5308/ProfLiu/">LIU Zhiqiang</a>.				
	</p>&nbsp
	<!--<p>
	</p>&nbsp-->
	<p>	
	    <h4>Research Interests</h4> Computer Vision, Deep Learning, Human Pose Estimation.</p>

	    {% if site.email %}
		<!--<a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>-->
	        <a href="mailto: {{site.email}}"><i class="fa fa-envelope-o"></i> &nbsp; niexuecheng AT u DOT nus DOT edu</a>
	    {% endif %} 
	    {% if site.website %}
		&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
                <!--&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp-->
		<a  href="https://scholar.google.com.sg/citations?user=h93ctSsAAAAJ&hl=en" target="_blank"><i class="fa fa-users"></i> &nbsp; {{site.website}}</a>
	    {% endif %} 
	    {% if site.resume %}
		&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
                <!--&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp-->
		<a  href="assets/pdf/NIE_Xuecheng_CV.pdf" target="_blank"><i class="fa fa-file-archive-o"></i> &nbsp; CV</a>
	    {% endif %} 
	</div>
</div>
