<h3>
    <a name='publications'></a> News
</h3>
<div class='news'>
    <ul>
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    Winner of ACM MM'20 <a href="http://humaninevents.org/">HiEve Challenge</a>. 
	</li> 
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    One paper is accepted in NeurIPS 2020. 
	</li> 
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    One paper is accepted in ECCV 2020. 
	</li> 
	<!--
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    I am current a Research Intern at <a href="https://cloud.google.com">Google Cloud AI</a> (2019-06-24 to Present)
	</li>
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    Three papers are accepted in ICCV 2019. (2019-07-22)
	</li>
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    One paper is accepted in Neurocomputing 2019. (2019-05-12)
	</li>  
	<!--
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    One paper is accepted in TIP 2018. (2018-09-26)
	</li>
	-->
	<!--
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    Two papers are accepted in ECCV 2018. (2018-07-03)
	</li>
	-->    
	<!--
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    One paper is accepted in CVPR 2018. (2018-02-20)
	</li>
	-->
	<!--
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    I am current a Research Intern at <a href="https://www.snapchat.com">Snap Inc.</a> (2018-05-21 to Present)
	</li>
	-->
	<!--
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    Our team "NUS-Qihoo-DPNs (CLS-LOC)" won <strong>1st place</strong> in object localization tracks in <a href="http://image-net.org/challenges/LSVRC/2017/">ILSVRC 2017</a>.
	</li>
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    Our team won <strong>2nd place</strong> in both Human Parsing and Pose Estimation tracks in <a href="https://vuhcs.github.io/">1st LIP Challenges</a>.
	</li>
	-->
    </ul>
</div>
