<h3>
    <a name='publications'></a> News
</h3>
<div class='news'>
    <ul>
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    I am current a Research Intern at Snap Inc.
	</li>
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    One paper is accepted in CVPR 2018. (2018-02-20)
	</li>
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    Our team "NUS-Qihoo-DPNs (CLS-LOC)" won <strong>1st place</strong> in object localization tracks in <a href="http://image-net.org/challenges/LSVRC/2017/">ILSVRC 2017</a>.
	</li>
	<li><i class="fa fa-flag"  color="#FF0000" aria-hidden="true"></i>
	    Our team won <strong>2nd place</strong> in both Human Parsing and Pose Estimation tracks in <a href="https://vuhcs.github.io/">1st LIP Challenges</a>.
	</li>
    </ul>
</div>
