<h3>
	   <a name='publications'></a> Professional Activities
</h3>
<p>
    I serviced as a reviewer for the following journals and conferences:
    <div class='award'>
	<ul>   
	    <li>CVPR, ICCV, AAAI</li>
	    <li>Elsevier Journal of Neurocomputing</li>
	    <li>Elsevier Journal of Computer Vision and Image Understanding</li>
	    <li>IEEE Transactions on Multimedia</li>
	    <li>Journal of Artifical Intelligence Research</li>
	</ul>
    </div>
</p>

<p>
    Teaching assistant at NUS for the following courses:
    <div class='award'>
	<ul>   
	    <li>EE2024: Programming for Computer Interfaces</li>
	</ul>
    </div>
</p>
