<h3>
	<a name='Manuscripts'></a> Manuscripts
</h3>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>The Landscape of Deep Learning Algorithms</strong><br />
       <strong>Pan Zhou</strong>, Jiashi Feng<br />
      <a href="https://arxiv.org/abs/1705.07038">[PDF]</a>
   </p>
  </div>
</div>

<h3>
	<a name='publications'></a> Publications
</h3>
<!--
<h4>
	<a name='report'></a> Technique Reports
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Proposal-free network for instance-level object segmentation</strong><br />
       Xiaodan Liang, <strong>Yunchao Wei</strong>, Xiaohui Shen, Jianchao Yang, Liang Lin, Shuicheng Yan<br />
      <a href="https://arxiv.org/abs/1509.02636">[arxiv]</a>
    </p>
  </div>
</div>
-->

<h4>
	<a name='2017'></a> 2017
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Outlier-Robust Tensor PCA</strong><br />
       <strong>Pan Zhou</strong>, Jiashi Feng<br />
      IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2017 <br />
      <a href="assets/pdf/2017-CVPR-RTPCA.pdf">[PDF]</a>
	  <a href="">[SUPP]</a>
	  <a href="assets/code/OR_TPCA_code.rar">[Codes]</a>
	  <a href="assets/bibtex/2017-CVPR-TRPCA.txt">[Bibtex]</a>
   </p>
  </div>
</div>


<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Tensor Factorization for Low-Rank Tensor Completion</strong><br />
        <strong>Pan Zhou</strong>, Canyi Lu, Zhouchen Lin, Chao Zhang<br />
       IEEE Transactions on Image Processing
       (<strong>TIP</strong>), 2017 <br />
	  <a href="assets/pdf/2017-TIP-TCTF.pdf">[PDF]</a>
      <a href="assets/pdf/2017-TIP-TCTF-supplementary.pdf">[SUPP]</a>
	  <a href="assets/code/TCTF_code.rar">[Codes]</a>
      <a href="assets/bibtex/2017-TIP-TCTF.txt">[Bibtex]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Feature Learning via Partial Differential Equation with Applications to Face Recognition</strong><br />
       Cong Fang, Zhenyu Zhao, <strong>Pan Zhou</strong>, Zhouchen Lin<br />
       Pattern Recognition
       (<strong>PR</strong>), 2017 <br />
	  <a href="assets/pdf/2017-PR-FE-PDE.pdf">[PDF]</a>
	  <!--
      <a href="assets/pdf/bilevel_supp_TIP.pdf">[SUPP]</a>
      <a href="assets/projects/stc.html">[Project]</a>
	  -->
	  <a href="assets/code/LPDE_featurelearning_code.rar">[Codes]</a>
      <a href="assets/bibtex/2017-PR-FE-PDE.txt">[Bibtex]</a>
    </p>
  </div>
</div>

<h4>
	<a name='2016'></a> 2016
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Bilevel Model Based Discriminative Dictionary Learning for Recognition</strong><br />
       <strong>Pan Zhou</strong>, Chao Zhang, Zhouchen Lin<br />
       IEEE Transactions on Image Processing
       (<strong>TIP</strong>), 2016 <br />
	  <a href="assets/pdf/bilevel_TIP.pdf">[PDF]</a>
      <a href="assets/pdf/bilevel_supp_TIP.pdf">[SUPP]</a>
	  <!--
      <a href="assets/projects/stc.html">[Project]</a>
	  -->
      <a href="assets/bibtex/bilevel_TIP.txt">[Bibtex]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Integrated Low-Rank-Based Discriminative Feature Learning for Recognition</strong><br />
       <strong>Pan Zhou</strong>, Zhouchen Lin, Chao Zhang<br />
      IEEE Transactions on Neural Networks and Learning Systems (<strong>TNNLS</strong>), 2016 <br />
	  <a href="assets/pdf/Integrated_Low_Rank_TNNLS.pdf">[PDF]</a>
      <a href="assets/pdf/Integrated_Low_Rank_supp_TNNLS.pdf">[SUPP]</a>
      <a href="assets/code/integrated_low_rank code.rar">[Codes]</a>
      <a href="assets/bibtex/Integrated_Low_Rank_TNNLS.txt">[Bibtex]</a>
    </p>
  </div>
</div>