<!--<h3>
    <a name='Preprints'></a> Preprints
</h3>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Hierarchical Contextual Refinement Networks for Human Pose Estimation</strong><br />
      <strong>Xuecheng Nie</strong>, Jiashi Feng, Junliang Xing, Shengtao Xiao, Shuicheng Yan<br />
      <i>Submitted to IEEE Transactions on Image Processing, under revision</i> (<strong>TIP</strong>), 2017 <br />
   </p>
  </div>
</div>-->

<h3>
    <a name='publications'></a> Publications
</h3>

<h4>
    <a name='2020'></a> 2020
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Inference stage optimization for cross-scenario 3d human pose estimation</strong><br />
      Jianfeng Zhang, <strong>Xuecheng Nie</strong>, Jiashi Feng<br />
      <i>Thirty-fourth Conference on Neural Information Processing Systems</i> (<strong>NeurIPS</strong>), 2020 <br />
      <a href="https://arxiv.org/pdf/2007.02054.pdf">[PDF]</a>
      <a href="assets/bibtex/ISO_NIPS2020.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Adversarial Self-Supervised Learning for Semi-Supervised 3D Action Recognition</strong><br />
      Chenyang Si, <strong>Xuecheng Nie</strong>, Wei Wang, Liang Wang, Tieniu Tan, Jiashi Feng<br />
      <i>European Conference on Computer Vision</i> (<strong>ECCV</strong>), 2020 <br />
      <a href="https://www.ecva.net/papers/eccv_2020/papers_ECCV/papers/123520035.pdf">[PDF]</a>
      <a href="assets/bibtex/ASSL_ECCV2020.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<h4>
    <a name='2019'></a> 2019
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Dynamic Kernel Distillation for Efficient Pose Estimation in Videos</strong><br />
      <strong>Xuecheng Nie</strong>, Yuncheng Li, Linjie Luo, Ning Zhang, Jiashi Feng<br />
      <i>IEEE International Conference on Computer Vision</i> (<strong>ICCV</strong>), 2019 <br />
      <a href="https://arxiv.org/abs/1908.09216">[PDF]</a>
      <a href="assets/bibtex/DKD_ICCV2019.txt">[Bibtex]</a>
      [Codes will be released]
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Single-stage Multi-person Pose Machines</strong><br />
      <strong>Xuecheng Nie</strong>, Jianfeng Zhang, Shuicheng Yan, Jiashi Feng<br />
      <i>IEEE International Conference on Computer Vision</i> (<strong>ICCV</strong>), 2019 <br />
      <a href="https://arxiv.org/abs/1908.09220">[PDF]</a>
      <a href="assets/bibtex/SPM_ICCV2019.txt">[Bibtex]</a>
      [Codes will be released] 
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Learning to Rank Proposals for Object Detection</strong><br />
      Zhiyu Tan, <strong>Xuecheng Nie</strong>, Qi Qian, Nan Li, Hao Li<br />
      <i>IEEE International Conference on Computer Vision</i> (<strong>ICCV</strong>), 2019 <br />
      <a href="https://openaccess.thecvf.com/content_ICCV_2019/papers/Tan_Learning_to_Rank_Proposals_for_Object_Detection_ICCV_2019_paper.pdf">[PDF]</a>
      <a href="assets/bibtex/LTR_ICCV2019.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Story Co-Segmentation of Chinese Broadcast News Using Weakly-Supervised Semantic Similarity</strong><br />
      Wei Feng, <strong>Xuecheng Nie</strong>, Yujun Zhang, Zhi-Qiang Liu, Jianwu Dang<br />
      <i>Neurocomputing</i>, 2019 <br />
      <a href="https://www.sciencedirect.com/science/article/pii/S0925231219306629">[PDF]</a>
      <a href="assets/bibtex/StoryCoseg_Neurocomputing2019.txt">[Bibtex]</a>
   </p>
  </div>
</div>


<h4>
    <a name='2018'></a> 2018
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Hierarchical Contextual Refinement Networks for Human Pose Estimation</strong><br />
      <strong>Xuecheng Nie</strong>, Jiashi Feng, Junliang Xing, Shengtao Xiao, Shuicheng Yan<br />
      <i>IEEE Transactions on Image Processing</i> (<strong>TIP</strong>), 2018 <br />
      <a href="assets/pdf/HCRN_HPE_TIP2018.pdf">[PDF]</a>
      <a href="assets/bibtex/hcrn_hpe_tip2018.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Pose Partition Networks for Multi-Person Pose Estimation</strong><br />
      <strong>Xuecheng Nie</strong>, Jiashi Feng, Junliang Xing, Shuicheng Yan<br />
      <i>European Conference on Computer Vision</i> (<strong>ECCV</strong>), 2018 <br />
      <a href="http://openaccess.thecvf.com/content_ECCV_2018/papers/Xuecheng_Nie_Pose_Partition_Networks_ECCV_2018_paper.pdf">[PDF]</a>
      <a href="assets/bibtex/PPN_for_MPPE_ECCV2018.txt">[Bibtex]</a>
      <a href="https://github.com/NieXC/pytorch-ppn">[Code]</a>
      <a href="assets/pdf/ppn_eccv2018_supp.pdf">[Supp]</a>
      <a href="https://arxiv.org/abs/1705.07422">[arXiv]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Mutual Learning to Adapt for Joint Human Parsing and Pose Estimation</strong><br />
      <strong>Xuecheng Nie</strong>, Jiashi Feng, Shuicheng Yan<br />
      <i>European Conference on Computer Vision</i> (<strong>ECCV</strong>), 2018 <br />
      <a href="http://openaccess.thecvf.com/content_ECCV_2018/papers/Xuecheng_Nie_Mutual_Learning_to_ECCV_2018_paper.pdf">[PDF]</a>
      <a href="assets/bibtex/MuLA_ECCV2018.txt">[Bibtex]</a>
      <a href="https://github.com/NieXC/pytorch-mula">[Code]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Human Pose Estimation with Parsing Induced Learner</strong><br />
      <strong>Xuecheng Nie</strong>, Jiashi Feng, Yiming Zuo, Shuicheng Yan<br />
      <i>IEEE Conference on Computer Vision and Pattern Recognition</i> (<strong>CVPR</strong>), 2018 <br />
      <a href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Nie_Human_Pose_Estimation_CVPR_2018_paper.pdf">[PDF]</a>
      <a href="assets/bibtex/HPE_with_PIL_CVPR2018.txt">[Bibtex]</a>
      <a href="https://github.com/NieXC/pytorch-pil">[Code]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Unsupervised Measure of Chinese Lexical Semantic Similarity Using Correlated Graph Model for News Story Segmentation</strong><br />
      Wei Feng, <strong>Xuecheng Nie*</strong>, Yujun Zhang, Lei Xie, Jianwu Dang (* indicates corresponding author)<br />
      <i>Neurocomputing</i>, 2018 <br />
      <a href="https://www.sciencedirect.com/science/article/pii/S0925231218310233">[PDF]</a>
      <a href="assets/bibtex/SoftSim4Seg_Neurocomputing2018.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<h4>
    <a name='2017'></a> 2017
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Recurrent 3D-2D Dual Learning for Large-Pose Facial Landmark Detection</strong><br />
      Shengtao Xiao, Jiashi Feng, Luoqi Liu, <strong>Xuecheng Nie</strong>, Wei Wang, Ashraf A. Kassim<br />
      <i>IEEE International Conference on Computer Vision</i> (<strong>ICCV</strong>), 2017 <br />
      <a href="http://openaccess.thecvf.com/content_ICCV_2017/papers/Xiao_Recurrent_3D-2D_Dual_ICCV_2017_paper.pdf">[PDF]</a>
      <a href="assets/bibtex/Recurrent_2d3d_ICCV2017.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Self-Supervised Neural Aggregation Networks for Human Parsing</strong><br />
      Jian Zhao, Jianshu Li, <strong>Xuecheng Nie</strong>, Fang Zhao, Yunpeng Chen, Zhecan Wang, Jiashi Feng, Shuicheng Yan<br />
      <i>IEEE Conference on Computer Vision and Pattern Recognition Workshops</i> (<strong>CVPRW</strong>), 2017 <br />
      <a href="http://openaccess.thecvf.com/content_cvpr_2017_workshops/w19/papers/Zhao_Self-Supervised_Neural_Aggregation_CVPR_2017_paper.pdf">[PDF]</a>
      <a href="assets/bibtex/SSNAN_CVPRw2017.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<h4>
    <a name='2016'></a> 2016
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>A Live Face Swapper</strong><br />
      Shengtao Xiao, Luoqi Liu, <strong>Xuecheng Nie</strong>, Jiashi Feng, Ashraf A. Kassim, Shuicheng Yan<br />
      <i>ACM Multimedia Conference</i> (<strong>MM</strong>), 2016 <br />
      <a href="assets/pdf/p691-xiao.pdf">[PDF]</a>   
      <a href="assets/bibtex/FaceSwapper_MM2016.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<h4>
    <a name='2016'></a> 2012-2015
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Layered Modeling and Generation of Pollock's Drip Style</strong><br />
      Yan Zheng, <strong>Xuecheng Nie</strong>, Zhaopeng Meng, Wei Feng, and Kang Zhang<br />
      <i>The Visual Computer</i>, 2016 <br />
      <a href="assets/pdf/Layered_VisComp2014.pdf">[PDF]</a>
      <a href="assets/bibtex/Layered_VisComp2015.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Intrinsic Image Decomposition by Hierarchical L0 Sparsity</strong><br />
      <strong>Xuecheng Nie</strong>, Wei Feng, Liang Wan, Haipeng Dai, and Chi-Man Pun<br />
      <i>IEEE International Conference on Multimedia and Expo</i> (<strong>ICME</strong>), 2014 <br />
      <a href="assets/pdf/785_HierL0Intrinsic_small.pdf">[PDF]</a>    
      <a href="assets/bibtex/HierarL0_ICME2014.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>L0 Co-Intrinsic Image Decomposition</strong><br />
      Haipeng Dai, Wei Feng, Liang Wan, and <strong>Xuecheng Nie</strong><br />
      <i>IEEE International Conference on Multimedia and Expo</i> (<strong>ICME</strong>), 2014 <br />
      <a href="assets/pdf/790_Co-intrinsic_small.pdf">[PDF]</a>   
      <a href="assets/bibtex/L0CoIntrinsic_ICME2014.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Measuring Semantic Similarity by Contextual Word Connections in Chinese News Story Segmentation</strong><br />
      <strong>Xuecheng Nie</strong>, Wei Feng, Liang Wan, and Lei Xie<br />
      <i>IEEE International Conference on Acoustics, Speech and Signal Processing</i> (<strong>ICASSP</strong>), 2013 <br />
      <a href="assets/pdf/SoftSim4Seg_ICASSP2013.pdf">[PDF]</a>   
      <a href="assets/bibtex/SoftSim4Seg_ICASSP2013.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Lexical Story Co-Segmentation of Chinese Broadcast News</strong><br />
      Wei Feng, <strong>Xuecheng Nie</strong>, Liang Wan, Lei Xie, and Jianmin Jiang<br />
      <i>International Speech Communication Association</i> (<strong>INTERSPEECH</strong>), 2012 <br />
      <a href="assets/pdf/StoryCoseg_INTERSPEECH2012.pdf">[PDF]</a>  
      <a href="assets/bibtex/StoryCoseg_INTERSPEECH2012.txt">[Bibtex]</a>
   </p>
  </div>
</div>
