<h3>
    <a name='Manuscripts'></a> Manuscripts
</h3>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Generative Partition Networks for Multi-Person Pose Estimation</strong><br />
      <strong>Xuecheng Nie</strong>, Jiashi Feng, Junliang Xing, Shuicheng Yan<br />
      <a href="https://arxiv.org/abs/1705.07422">[arXiv]</a>
   </p>
  </div>
</div>

<h3>
    <a name='publications'></a> Publications
</h3>

<h4>
    <a name='2018'></a> 2018
</h4>

<!-- 
<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Human Pose Estimation with Parsing Induced Learner</strong><br />
      <strong>Xuecheng Nie</strong>, Jiashi Feng, Yiming Zuo, Shuicheng Yan<br />
      IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2017 <br />
      <a href="assets/pdf/2017-CVPR-RTPCA.pdf">[PDF]</a>
	  <a href="">[SUPP]</a>
	  <a href="assets/code/OR_TPCA_code.rar">[Codes]</a>
	  <a href="assets/bibtex/2017-CVPR-TRPCA.txt">[Bibtex]</a>
   </p>
  </div>
</div>
-->

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Human Pose Estimation with Parsing Induced Learner</strong><br />
      <strong>Xuecheng Nie</strong>, Jiashi Feng, Yiming Zuo, Shuicheng Yan<br />
      <i>IEEE Conference on Computer Vision and Pattern Recognition</i> (<strong>CVPR</strong>), 2018 <br />
   </p>
  </div>
</div>

<h4>
    <a name='2017'></a> 2017
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Recurrent 3D-2D Dual Learning for Large-Pose Facial Landmark Detection</strong><br />
      Shengtao Xiao, Jiashi Feng, Luoqi Liu, <strong>Xuecheng Nie</strong>, Wei Wang, Ashraf A. Kassim<br />
      <i>IEEE International Conference on Computer Vision</i> (<strong>ICCV</strong>), 2017 <br />
      <a href="http://openaccess.thecvf.com/content_ICCV_2017/papers/Xiao_Recurrent_3D-2D_Dual_ICCV_2017_paper.pdf">[PDF]</a>   
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Self-Supervised Neural Aggregation Networks for Human Parsing</strong><br />
      Jian Zhao, Jianshu Li, <strong>Xuecheng Nie</strong>, Fang Zhao, Yunpeng Chen, Zhecan Wang, Jiashi Feng, Shuicheng Yan<br />
      <i>IEEE Conference on Computer Vision and Pattern Recognition Workshops</i> (<strong>CVPRW</strong>), 2017 <br />
      <a href="http://openaccess.thecvf.com/content_cvpr_2017_workshops/w19/papers/Zhao_Self-Supervised_Neural_Aggregation_CVPR_2017_paper.pdf">[PDF]</a>   
   </p>
  </div>
</div>

<h4>
    <a name='2016'></a> 2016
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>A Live Face Swapper</strong><br />
      Shengtao Xiao, Luoqi Liu, <strong>Xuecheng Nie</strong>, Jiashi Feng, Ashraf A. Kassim, Shuicheng Yan<br />
      <i>ACM Multimedia Conference</i> (<strong>MM</strong>), 2016 <br />
      <a href="http://delivery.acm.org/10.1145/2980000/2973808/p691-xiao.pdf?ip=137.132.185.72&id=2973808&acc=ACTIVE%20SERVICE&key=FF6731C4D3E3CFFF%2EBB5EB8D2067C1662%2E4D4702B0C3E38B35%2E4D4702B0C3E38B35&__acm__=1519564165_6531f2c85cfc712b7eeab2f3431a8263">[PDF]</a>   
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Tensor Factorization for Low-Rank Tensor Completion</strong><br />
        <strong>Pan Zhou</strong>, Canyi Lu, Zhouchen Lin, Chao Zhang<br />
       IEEE Transactions on Image Processing
       (<strong>TIP</strong>), 2017 <br />
	  <a href="assets/pdf/2017-TIP-TCTF.pdf">[PDF]</a>
      <a href="assets/pdf/2017-TIP-TCTF-supplementary.pdf">[SUPP]</a>
	  <a href="assets/code/TCTF_code.rar">[Codes]</a>
      <a href="assets/bibtex/2017-TIP-TCTF.txt">[Bibtex]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Feature Learning via Partial Differential Equation with Applications to Face Recognition</strong><br />
       Cong Fang, Zhenyu Zhao, <strong>Pan Zhou</strong>, Zhouchen Lin<br />
       Pattern Recognition
       (<strong>PR</strong>), 2017 <br />
	  <a href="assets/pdf/2017-PR-FE-PDE.pdf">[PDF]</a>
	  <!--
      <a href="assets/pdf/bilevel_supp_TIP.pdf">[SUPP]</a>
      <a href="assets/projects/stc.html">[Project]</a>
	  -->
	  <a href="assets/code/LPDE_featurelearning_code.rar">[Codes]</a>
      <a href="assets/bibtex/2017-PR-FE-PDE.txt">[Bibtex]</a>
    </p>
  </div>
</div>

<h4>
	<a name='2016'></a> 2016
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Bilevel Model Based Discriminative Dictionary Learning for Recognition</strong><br />
       <strong>Pan Zhou</strong>, Chao Zhang, Zhouchen Lin<br />
       IEEE Transactions on Image Processing
       (<strong>TIP</strong>), 2016 <br />
	  <a href="assets/pdf/bilevel_TIP.pdf">[PDF]</a>
      <a href="assets/pdf/bilevel_supp_TIP.pdf">[SUPP]</a>
	  <!--
      <a href="assets/projects/stc.html">[Project]</a>
	  -->
      <a href="assets/bibtex/bilevel_TIP.txt">[Bibtex]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Integrated Low-Rank-Based Discriminative Feature Learning for Recognition</strong><br />
       <strong>Pan Zhou</strong>, Zhouchen Lin, Chao Zhang<br />
      IEEE Transactions on Neural Networks and Learning Systems (<strong>TNNLS</strong>), 2016 <br />
	  <a href="assets/pdf/Integrated_Low_Rank_TNNLS.pdf">[PDF]</a>
      <a href="assets/pdf/Integrated_Low_Rank_supp_TNNLS.pdf">[SUPP]</a>
      <a href="assets/code/integrated_low_rank code.rar">[Codes]</a>
      <a href="assets/bibtex/Integrated_Low_Rank_TNNLS.txt">[Bibtex]</a>
    </p>
  </div>
</div>
