<h3>
	<a name='workexp'></a> Working Experience
</h3>
<p> 
    <div class='workexp'>
        <ul> 
	    <li>2020.01 ~ Now, Research Scientist at YiTu Technology, Beijing, China</li>
	    <li>2019.06 ~ 2019.12, Research Intern at Google Cloud AI, Sunnyvale, CA, US</li>
	    <li>2018.05 ~ 2018.08, Research Intern at Snap Inc., Los Angeles, CA, US</li>
	    <li>2015.09 ~ 2016.05, Research Intern at Qihoo 360 AI Institute, Beijing, China</li>
	    <li>2014.05 ~ 2014.08, Research Assistant at City University of Hong Kong, Hong Kong, China</li>
        </ul>
    </div>
</p>
