<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}
<body>
    <div class="container">

		<div class="row"> 
			 {% include introduction.html %}
		 <hr>
			 {% include news.html %}
		 <hr>
			 {% include publications.html %}
		 <hr>
			 {% include prof_activities.html %}
                 <hr>
		         {% include award.html %}
     </div><!--//main-body-->

{% include footer.html %}
<div style="display:inline-block;width:200px;"><script type="text/javascript" src="//rf.revolvermaps.com/0/0/5.js?i=5jhbx2uwzue&amp;m=0&amp;c=ff0000&amp;cr1=ffffff" async="async"></script></div>
</body>
</html>
