<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}
<body>
    <div class="container">

		<div class="row"> 
			 {% include introduction.html %}
		 <hr>
			 {% include news.html %}
		 <hr>
			 {% include publications.html %}
         <hr>
		     {% include award.html %}
		<!--
	     <hr>
			 {% include resources.html %}
			 -->
     </div><!--//main-body-->

{% include footer.html %}
<div style="display:inline-block;width:200px;"><script type="text/javascript" src="//ra.revolvermaps.com/0/0/7.js?i=0tiqdmikn41&amp;m=8&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0" async="async"></script></div>
</body>
</html>
